.page .content__default > h1:nth-child(1)
  display none

.home .hero #main-title
  padding-top 0
  font-size 120px
  text-shadow 5px 5px 0 #FFC947
  transition font-size 0.25s

@media (max-width: $MQMobile)
  .home .hero #main-title
    font-size 60px
    text-shadow 3px 3px 0 #FFC947